body{
    box-sizing: border-box;
}
.image{
    margin: 10vh 25vw;
    line-height:0;
}
img{
    width: 100%;
}
.submit_btn{
    width: 100% ;
    height: 50px;
    background: linear-gradient(to right, #55ed5d, #feb47b);
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
