body{
    background-color: rgb(230, 100, 13);
}
.head{
    color: darkblue
}
#bglime{
    background-color: lime;
}
p{
    color: white;
}
#para{
    color:green;
}
.list{
    color:black;
}
ul{
    color: white;
}
ul li:first-child a {
  background-color: yellow;
}

ul li:nth-child(2) a {
  background-color: rgba(68, 68, 119, 0.621);
}
ol li:nth-child(2){
    color: blue;
}
ol li:nth-child(3){
    color: red;
}